.component {
  border: 2px solid black;
  border-radius: 10px;
  padding: 16px;
  background-color: orange;
  width: 220px;
  text-align: center;
  margin: auto;
  position: relative;
}

button {
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

.on-push {
  position: absolute;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;

  span {
    margin: auto;
  }
}

.children {
  display: grid;
  grid-template-columns: 50% 50%;
}

.group {
  display: flex;
  justify-content: space-around;
}

.single-children-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.children-connector {
  width: 50%;
  border: 2px solid;
  margin: auto;
  height: 50px;
  border-bottom: 0;
}

.single-children-connector {
  width: 0;
  border: 1px solid;
  height: 50px;
  margin: auto;
}
